{% extends "base.html" %}
{% block content %}
THIS SHOULD SHOW ALL COUNTRIES
<hr>

{% for country in all_countries %}

<div>
    <p>{{country.country_name}}</p>
    {% for city in  cities %}
    {% if city.country.id == country.id%}
    <p>{{ city.city_name }}</p>
    {% endif %}
    {% endfor %}
    <p>Visited?
        {% if country.visited == True %}
        &#10004;
        {% else %}
        &#10008;
        {% endif %}


    <p><a href="edit link">Edit</a></p>
    <hr>
    </p>
</div>
{% endfor %}

{% endblock %}