{% extends "base.html" %}
{% block content %}
THIS SHOULD SHOW ALL COUNTRIES
<hr>

{% for country in all_countries %}

<div>
    <p>{{country.country_name}}</p>

    <p>Visited?
        {% if country.visited == True %}
        Visited
        {% else %}
        Not Visited
        {% endif %}

    <p><a href="edit link">Edit</a></p>
    <hr>
    </p>
</div>
{% endfor %}
{% for city in all_cities %}

<div>
    <p>{{city.city_name}}</p>
    <p>Visited?
        {% if city.visited == True %}
        Visited
        {% else %}
        Not Visited
        {% endif %}

    <p><a href="edit link">Edit</a></p>
    <hr>
    </p>
    {% endfor %}
</div>


{% endblock %}