{% extends "base.html" %}
{% block content %}
<div class="inputform">

    <form class="newform" action="/cities/{{city.id}}" method="POST">
        <h1>{{city.city_name}}</h1>
        <h2>in {{city.country.country_name}}</h2>
        <div class="centredropdown">
            <label for="visited">Visited? </label>
            <select id="visited" name="visited">
                <option value="false" {% if city.visited == False %} selected {% endif %}>NOT YET
                </option>

                <option value="true" {% if city.country.visited == False %} disabled
                    {% endif %}{% if city.visited == True %} selected {% endif %}>YES</option>
            </select>
            &nbsp
            <button type="submit"><b>&#9998; UPDATE {{city.city_name}} </b></button>
    </form>

    <form class="centredropdown" action="/cities/{{city.id}}/delete" method="POST">
        <button type="submit"><span style='font-size:11px; color:red'><b>&#10071;DELETE {{city.city_name}}
                    &#10071;</b></button></span>

    </form>
</div>


</div>
{% endblock %}