{% extends "base.html" %}
{% block content %}
<div class="inputform">


    <form class="newform" action="/cities/new_to_country" method="POST">
        <h1>Add New City to {{country.country_name}}</h1>


        <label for="country" hidden>Country:</label>
        <input type="text" value="{{ country.id }}" name="country" readonly hidden>
        <div class="centredropdown">
            <label for="city_name">City:</label>
            <input type="text" id="city_name" name="city_name" placeholder="type city name" required autofocus>
        </div>


        <button type="submit"><b>&#9998; Add City to {{country.country_name}} </b></button>

    </form>
</div>
{% endblock %}