body{
    font-family: "Archivo Narrow", arial, sans-serif; font-size: 14px;
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homepage{
    background-image:url("https://i.postimg.cc/RZdWY5hD/Screenshot-2020-10-06-at-21-24-32.png");
    height: 280px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;  
}   
    

.menu{
    display: flex;
    padding: 10px;
    background-color: rgb(61, 54, 54);
    color: white;
    
  }

  .menu > li > a {
    text-decoration: none;
    background-color: #055c49;
    padding: 3px;
    margin: 4px
  }

  .menu > li > a:hover {
    background-color: red;
  }

  .menu li a:visited{
    color: white;
    text-decoration: none;
  }
  
  .menu li{
    padding-right: 10px;
    list-style: none;
    color: white;
    float: left;
    font-family: "Helvetica", arial, sans-serif; font-size: 14px;
  }

h1  {
    text-align: center;
}

h2  {
    text-align: center;
}

h3  {
    text-align: center;
}

.centrevisited {
    text-align: center;
    padding: 20px
}

.centrelink {
    text-align: center;
}

.centrelink > a {
    background-color: #055c49;
    padding: 10px;
    color: white;
    text-align: center;
    display: inline-block;
    text-decoration: none
    
}



.centrelink > a:hover {
    background-color: red;
}
.bucketlist {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

  .item  {
    border-radius: 15px 50px 30px;
    width: 200px;
    min-height: 180px;
    opacity: 0.7;
    display: block;
    line-height: 8px;
    margin-bottom: 20px;
    background-image: url("https://image.freepik.com/free-photo/yellow-crumpled-paper-texture-background_42547-989.jpg");
    border: 2px solid ;
    margin: 10px;
    padding: 20px;
    box-shadow: 10px 10px 10px #070000;
  }

  .item:hover {
        opacity: 1.0;
  }

  .inputform {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.centredropdown{
    display: inline-block;
    flex-flow: wrap;
    justify-content:center ;
    padding: 10px

}



  .newform {
    border-radius: 15px 50px 30px;
    width: max-content;
    min-height: 100%;
    display: block;
    line-height: 8px;
    margin-bottom: 20px;
    background-image: url("https://image.freepik.com/free-photo/yellow-crumpled-paper-texture-background_42547-989.jpg");
    border: 2px solid ;
    margin: 10px;
    padding: 20px;
    box-shadow: 10px 10px 10px #070000;

  }

  .centrebutton {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }