<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Bucket List</title>
</head>

<body>
    <header>
        <nav>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/countries/index.html">Countries</a></li>
                <li><a href="/cities/index.html">Cities</a></li>
                <li><a href="/countries/new">Add New Country</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock %}
    </div>
</body>

</html>