<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Bucket List</title>
</head>

<body>
    <header>
        <nav>
            <ul class="menu">
                <li><a href="url for home">Home</a></li>
                <li><a href="url for show all in list">List</a></li>
                <li><a href="url for new city">New City</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>